/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cormorant:wght@300&family=Dancing+Script:wght@700&family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant", sans-serif;
    color: white;
    background-color: #10061a;
    background-image: linear-gradient(to right, #10061a, black, #10061a);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/*logo navbar and hero-image*/
header {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-family: "Cinzel", sans-serif;
    text-shadow: 3px 2px 1px black;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #2B2929;
    box-shadow: #10061a 0px 0px 10px;
    z-index: 99;
}

.logo {
    display: flex;
    color: white;
    padding-left: 2vw;
}

.logo a h1:hover {
    border-bottom: 1px solid white;
}

.click-menu {
    display: flex;
    margin-top: 3vh;
    padding-right: 2vw;
}

.main_menu a:hover {
    border-bottom: 1px solid white;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#menu li {
    display: flex;
    width: 100%;
    margin-left: 2vw;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}

#menu li a {
    color: white;
}

#hero-image {
    display: flex;
    height: 60vh;
    width: 100vw;
    background: url("../images/camera.png") no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

/*main section*/

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/*The winner of "The Rebel Challenge*/

.this-month {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8vh;
}

.winner {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner h1 {
    font-size: 200%;
    font-family: "Rock Salt", sans-serif;
    text-shadow: 5px 2px 10px yellow;
}

.winner p {
    font-size: 100%;
}

#winnerphoto {
    display: flex;
    height: auto;
    width: 100%;
    background: url("../images/woman-gasmasc.jpg") no-repeat;
    background-position: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

.more-photos {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.to-challenge {
    background-color: #2B2929;
    color: white;
    margin: 10vh;
    padding: 1em;
    font-size: 100%;
    font-family: "Rock Salt", sans-serif;
    text-shadow: 5px 2px 6px black;
    border-radius: 50%;
    height: 10vh;
    width: 35%;
}

.to-challenge a {
    color: white;
    font-size: 150%;
}

/*How? section*/

section h1 {
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    background: none;
}

#how-it-works {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#left-about {
    display: flex;
    background-color: #2B2929;
    width: 30%;
    align-items: flex-start;
    justify-content: column;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    border: 2px solid #5F2983;
}

#center-about {
    display: flex;
    background-color: #2B2929;
    width: 30%;
    align-items: flex-start;
    justify-content: column;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    border: 2px solid #5F2983;
}

#right-about {
    display: flex;
    background-color: #2B2929;
    width: 30%;
    align-items: flex-start;
    justify-content: column;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    border: 2px solid #5F2983;
}

section h3 {
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    background: none;
    text-align: center;
}

/*challenge form*/

.secret-garden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh;
}

.secret-garden h1 {
    font-size: 300%;
    font-family: "Dancing Script", sans-serif;
    text-shadow: 5px 2px 10px rgba(255, 0, 234, 0.774);
    text-align: center;
    z-index: 50;
}

.secret-garden h2 {
    font-size: 250%;
    text-shadow: 5px 2px 10px rgba(255, 0, 234, 0.774);
    text-align: center;
    margin-bottom: 5vh;
    z-index: 50;
}

#garden {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url("../images/garden.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    z-index: 0;
}

#ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2B2929;
}

.container * {
    box-sizing: border-box;
    padding: 30px;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 1 120px;
    max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}

#submit {
    color: #2B2929;
}

#reset {
    color: #2B2929;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: #2B2929;
    position: relative;
    bottom: 0;
}

footer h6 {
    font-size: 150%;
    font-family: "Cormorant", sans-serif;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    font-size: 200%;
    list-style-type: none;
}

.footer-icons a {
    display: flex;
    color: white;
}

/*Thank you for particapating*/

.thanks {
    display: flex;
    background-image: url("../images/background.png");
    background-repeat: repeat-y;
    background-size: contain;
}

.done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #2B2929;
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid #25053a;
}

.thank-you {
    width: 100%;
    text-align: center;
}

#go-back {
    display: flex;
    list-style: none;
    align-items: center;
}

.return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2B2929;
    padding: 1em;
    font-family: "Dancing Script", sans-serif;
    font-size: 230%;
}

.return a {
    color: white;
}

@media screen and (min-width: 1600px) {

    /*Navbar*/

    #menu {
        font-size: 160%;
    }

    /*Home section*/

    .winner {
        font-size: 200%;
    }

    #winnerphoto {
        height: 100vh;
        width: 100%;
        object-fit: contain;
    }

    .more-photos h3 {
        margin-top: 10vh;
        margin-bottom: 5vh;
        font-size: 300%;
    }

    .to-challenge a {
        font-size: 200%;
    }

    /*How? section*/

    section h1 {
        font-size: 600%;
    }

    #how-it-works {
        font-size: 200%;
    }

    #left-about {
        font-size: 60%;
    }

    #center-about {
        font-size: 60%;
    }

    #right-about {
        font-size: 60%;
    }

    #left-about h2 {
        font-size: 450%;
    }

    #center-about h2 {
        font-size: 450%;
    }

    #right-about h2 {
        font-size: 450%;
    }

    section h3 {
        font-size: 400%;
    }

    /*Challenge form*/

    .secret-garden h1 {
        font-size: 600%;
    }

    .secret-garden h2 {
        font-size: 400%;
    }

    #ready {
        font-size: 600%;
    }

    section p {
        font-size: 200%;
    }

    .container {
        font-size: 150%;
    }

    /*footer*/

    footer {
        font-size: 200%;
    }

    .footer-icons {
        width: 100%;
        margin-bottom: 2vh;
        font-size: 150%;
    }

    /* submit page */

    #go-back {
        font-size: 200%;
    }

    .return {
        font-size: 300%;
    }
}

@media screen and (min-width: 1200px) {
    .to-challenge a {
        font-size: 120%;
    }

    .secret-garden h1 {
        font-size: 500%;
    }

    .secret-garden h2 {
        font-size: 200%;
    }

    #garden {
        height: 100vh;
        width: 100%;
        object-fit: contain;
    }

    #ready {
        font-size: 300%;
    }

    section p {
        font-size: 150%;
    }

    #go-back {
        font-size: 120%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {

    /*header*/

    .hero-image {
        flex: 0 1 auto;
        padding: 0;
    }

    /*Home section*/

    .to-challenge a {
        font-size: 90%;
    }

    /*Challenge form*/

    .secret-garden h1 {
        font-size: 300%;
        margin: 1vh;
    }

    .secret-garden h2 {
        font-size: 200%;
        margin-bottom: 1vh;
    }

    #garden {
        height: 100vh;
        width: 100%;
        object-fit: contain;
        margin-top: 1vh;
    }

    #ready {
        font-size: 300%;
        margin-top: 1vh;
    }

    section p {
        font-size: 150%;
    }

    /*footer*/

    .footer-icons {
        width: 100%;
        margin-bottom: 2vh;
        font-size: 150%;
    }

    /* submit page */

    #go-back {
        font-size: 110%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 950px) {

    .main-menu {
        font-size: 60%;
    }

    .logo {
        margin-left: 6vw;
    }

    .click-menu {
        margin-right: 6vw;
    }

    #hero-image {
        height: 50vh;
        margin-bottom: 0;
    }

    /*Home section*/

    .this-month {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        z-index: 50;
    }

    .winner {
        justify-content: center;
        padding: 0;
        margin-top: 1vh;
    }

    .winnerphoto {
        margin-top: 0px;
    }

    .to-challenge {
        width: 60%;
    }

    .to-challenge a {
        font-size: 100%;
    }

    /*How? section*/

    .how-it-works {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2vh;
    }

    #left-about {
        display: flex;
        background-color: #2B2929;
        width: 30%;
        align-items: flex-start;
        justify-content: column;
        text-align: center;
        font-size: 100%;
        padding-top: 10px;
        border-radius: 25px;
        border: 2px solid #5F2983;
    }

    #center-about {
        display: flex;
        background-color: #2B2929;
        width: 30%;
        align-items: flex-start;
        justify-content: column;
        text-align: center;
        font-size: 100%;
        padding-top: 10px;
        border-radius: 25px;
        border: 2px solid #5F2983;
    }

    #right-about {
        display: flex;
        background-color: #2B2929;
        width: 30%;
        align-items: flex-start;
        justify-content: column;
        text-align: center;
        font-size: 100%;
        padding-top: 10px;
        border-radius: 25px;
        border: 2px solid #5F2983;
    }

    /*Challenge form*/

    #garden {
        height: 70vh;
        width: 100%;
        margin-top: 1vh;
    }

    #ready {
        font-size: 200%;
        margin-top: 0;
    }

    section p {
        font-size: 100%;
    }

    /*footer*/

    footer {
        font-size: 70%;
    }

    .footer-icons {
        width: 100%;
        margin-bottom: 2vh;
        font-size: 80%;
    }

    /* submit page */

    .thanks {
        font-size: 190%;
        padding: 0;
        margin: 0;
    }

    .redirect {
        font-size: 90%;
    }

    #go-back {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #go-back li p {
        font-size: 80%;
    }

    .return {
        font-size: 120%;
        padding: 1vw;
    }

    .return a {
        font-size: 130%;
    }
}

@media screen and (max-width: 575px) {

    /*header, navbar and background*/

    .main-menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 15vh;
        top: 0;
        position: fixed;
        background-size: contain;
    }

    .logo {
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 8vw;
        margin-top: 3vh;
    }

    .click-menu {
        align-items: center;
        margin: 5px;
    }

    #hero-image {
        padding: 0;
        margin-top: 10vh;
        height: 30vh;
    }

    /*Home section*/

    .this-month {
        margin-top: 0vh;
    }

    .winner {
        margin-top: 0vh;
    }

    .to-challenge {
        width: 80%;
    }

    .to-challenge a {
        font-size: 90%;
    }

    /*How? section*/

    section h1 {
        margin-top: 0vh;
        margin-bottom: 2vh;
        width: 100%;
        background: none;
    }

    #how-it-works {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 70%;
        padding: 2vh;
    }

    #left-about {
        width: 100%;
        margin-bottom: 2vh;
        text-align: center;
        font-size: 150%;
    }

    #center-about {
        width: 100%;
        margin-bottom: 2vh;
        text-align: center;
        font-size: 150%;
    }

    #right-about {
        width: 100%;
        margin-bottom: 2vh;
        text-align: center;
        font-size: 150%;
    }

    section h3 {
        margin-top: 8vh;
        margin-bottom: 8vh;
        width: 100%;
        background: none;
        text-align: center;
        font-size: 150%;
    }

    /*Challenge form*/

    .secret-garden h1 {
        font-size: 210%;
        margin-top: 0vh;
    }

    .secret-garden h2 {
        font-size: 150%;
    }

    #garden {
        height: 40vh;
        width: 100%;
        margin-top: 1vh;
    }

    #ready {
        font-size: 150%;
        margin-top: 0;
    }

    section p {
        font-size: 80%;
    }

    /*footer*/

    footer {
        margin-top: 3vh;
        font-size: 50%;
    }

    .footer-icons {
        width: 100%;
        margin-bottom: 2vh;
    }

    /*Submit page*/

    .redirect {
        font-size: 110%;
        padding: 0;
        width: 80%;
        margin: 50%;
    }

    .thank-you {
        padding: 0;
        margin: 0;
    }

    #go-back {
        font-size: 90%;
        margin: 0;
        padding: 0;
    }

    #go-back li p {
        font-size: 110%;
        margin-bottom: 3vh;
    }

    .return {
        font-size: 150%;
        padding: 0;
        margin-bottom: 4vh;
    }
}

@media screen and (max-width: 430px) {

    /*header*/

    .main-menu {
        height: 13vh;
    }

    /*Home section*/

    .winner h1 {
        font-size: 150%;
    }

    .to-challenge {
        width: 90%;
    }

    .to-challenge a {
        font-size: 100%;
    }

    /*How? section*/

    section h1 {
        font-size: 150%;
    }

    /*Challenge form*/

    .secret-garden {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        padding: 0vh;
    }

    .secret-garden h1 {
        font-size: 180%;
        margin-top: 0vh;
    }

    #garden {
        height: 28vh;
        width: 100%;
        margin-top: 1vh;
    }

    #ready {
        font-size: 150%;
        margin-top: 4vh;
    }

    section p {
        font-size: 90%;
        margin-left: 4vh;
        margin-right: 4vh;
        text-align: center;
    }

    .flex-outer li {
        align-items: center;
        justify-content: center;
    }

    .flex-outer li label {
        padding: 0;
        margin: 0;
        font-weight: 0;
    }

    /*submit page*/

    .thanks {
        font-size: 150%;
        padding: 0;
        margin: 0;
    }

    .redirect {
        font-size: 100%;
        padding: 0;
        width: 80%;
        margin: 50% 0 50% 0;
    }
}