@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Urbanist&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    color: white;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*heading and logo*/
/*hero image and cover text*/
#hero-image {
    display: flex;
    height: 600px;
    width: 100%;
    background: url(../images/camera.png) no-repeat bottom;
    background-position: bottom;
    background-size: cover;

    /*animate the zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 3s;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: black;

}

.logo {
    display: flex;
    color: white;
    justify-content: flex-start;
}

.click-menu {
    display: flex;
    justify-content: flex-end;
}

.main_menu a:hover {
    border-bottom: 1px solid white;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#menu li {
    display: flex;
    width: 100%;
    margin-left: 2vw;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}

#menu li a {
    color: white;
}

.active {
    border-bottom: 1px solid white;
}

/* create level of zoom hero-image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*main section*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*this months challenge winner*/

.winner {
    display: flex;
    justify-content: flex-end;
}

/*how it works*/

#how-it-works {
    display: flex;
    height: 600px;
    width: 80%;
    justify-content: space-around;
}

#left-about {
    display: flex;
    background-color: #2B2929;
    width: 30%;
    flex-direction: center;
    justify-content: center;
}

#center-about {
    display: flex;
    background-color: #2B2929;
    width: 30%;
    flex-direction: center;
    justify-content: center;
}

#right-about {
    display: flex;
    background-color: #2B2929;
    width: 30%;
    flex-direction: center;
    justify-content: center;
}

#ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2B2929;
}

.container * {
    box-sizing: border-box;
    padding: 30px;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: #2B2929;
    position: relative;
    bottom: 0;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.footer-icons a {
    display: flex;
    color: white;
}

.redirection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}